---
extends:
- "@wordpress/stylelint-config/scss"
plugins:
- stylelint-order
rules:
  order/order:
  - custom-properties
  - declarations
  - rules
  order/properties-alphabetical-order: true
  selector-class-pattern: null
