#watermark-content {
	.image-content,
	.text-content,
	.select-image-button,
	.watermark-image {
		display: none;
	}

	.watermark-image {
		img {
			cursor: pointer;
			width: auto;
			height: auto;
			max-width: 100%;
			background-color: #ddd;
		}
	}

	.text-content {
		input {
			width: 100%;
		}
	}
}
