.ew-preview-popup {
	display: none;

	.media-frame-content {
		bottom: 0;
		padding: 16px;
		top: 50px;

		img {
			display: block;
			height: auto;
			margin-bottom: 16px;
			max-width: 100%;
		}
	}
}

#preview {

	img {
		cursor: pointer;
		height: auto;
		max-width: 100%;
	}

	.spinner {
		display: none;
		float: none;
		margin: 10px 0 0;
		visibility: visible;
	}
}
