#watermarks {

	table {
		margin-bottom: 10px;
		text-align: left;

		td {
			padding: 5px 10px;
		}

		th {
			padding: 5px 10px 5px 0;
		}
	}

	.button-wrap {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		&::after {
			clear: both;
			content: "";
			display: block;
		}

		button,
		.spinner {
			float: left;
		}
	}

	.error-message {
		display: none;
	}

	p.description {
		margin-top: 20px;
	}

	.removed-watermarks {
		list-style: initial;
		margin: 0;
		padding-left: 30px;
	}
}
