body {
	&.post-type-watermark {
		#poststuff {
			.watermark-type-selector {
				h2 {
					padding-left: 0;
				}

				.buttons {
					display: flex;
				}

				input[type="radio"] {
					position: absolute;
					z-index: -1;
					opacity: 0;

					&:checked + .button {
						background: #0085ba;
						border-color: #0073aa #006799 #006799;
						box-shadow: 0 1px 0 #006799;
						color: #fff;
						text-decoration: none;
						text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;

						&:active {
							transform: none;
						}
					}
				}

				.button {
					&.first {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}

					&.last {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
			}

			#alignment {
				.alignment-selector {
					width: 240px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					background-image: url('../images/alignment-background.jpg');
					background-size: cover;

					label {
						display: block;
						float: left;
						position: relative;
						width: 78px;
						height: 58px;
						margin-bottom: 3px;
						text-align: center;
						background-repeat: no-repeat;

						&:nth-last-child(-n + 6) {
							margin-bottom: 0;
						}

						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: rgba(#fff, 0.2);
							transition: all 0.2s;
						}

						&:hover {
							&:after {
								background-color: rgba(#fff, 0.35);
							}
						}
					}

					input {
						position: absolute;
						z-index: -1;
						opacity: 0;

						&:checked {
							+ label {
								&:after {
									background-color: transparent;
								}
							}
						}
					}
				}
			}
		}
	}
}
