.edit-post-header {

	.components-button.ew-save-button {
		height: 33px;
		line-height: 32px;
		margin-right: 12px;
		padding: 0 12px 2px;
	}

	.components-button.ew-fullscreen-button {
		margin-left: 4px;
	}
}
